@font-face {
  font-family: Mulish;
  src: url("../font/Mulish-Black.ttf");
  src: url("../font/Mulish-BlackItalic.ttf");
  src: url("../font/Mulish-Bold.ttf");
  src: url("../font/Mulish-BoldItalic.ttf");
  src: url("../font/Mulish-ExtraBold.ttf");
  src: url("../font/Mulish-ExtraBoldItalic.ttf");
  src: url("../font/Mulish-Italic.ttf");
  src: url("../font/Mulish-Light.ttf");
  src: url("../font/Mulish-LightItalic.ttf");
  src: url("../font/Mulish-Medium.ttf");
  src: url("../font/Mulish-MediumItalic.ttf");
  src: url("../font/Mulish-Regular.ttf");
  src: url("../font/Mulish-SemiBold.ttf");
  src: url("../font/Mulish-SemiBoldItalic.ttf");
}

:root {
  --color-primary: #bd5d38;
  --color-whilte: white;
  --bs-body-font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-size: color: #6c757d;16px; */
}

html {
  font-size: var(--bs-body-font-size);
  /* font-family: "Muli", sans-serif; */
  font-family: Mulish;
  font-style: normal;
  color: #6c757d;
}

body {
  font-weight: 400;
  color: #6c757d;
}
