@import "./variable";
@import "./base";

:root{
    --bg-dark : black;
}

html{
    body[blue]{
        --bg-dark : red;
    }
}

.header {
  background-color: --bg-dark;
  .logo {
    font-size: $fs-3xl;
    font-weight: $fw-light;
    color: $fw-light;
  }

  .text {
    @extend .logo;
    @include text();
  }
}

@keyframes fade-down {
  0% {
    opacity: 0.5;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
